<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Home</title>
	</head>
	<body>
		<nav>
			<input type="submit" value="Add Student">
			<input type="submit" value="Get Student By ID">
			<input type="submit" value="Get All Students">
			<input type="submit" value="Update Student">
			<input type="submit" value="Delete Student">
		</nav>
				<h1>welcome to Student Management System</h1>

		<a href="addSt">ADD STUDENT</a>	<br><br>
		<a href="getSt">GET STUDENT BY ID</a>	<br><br>
		<a href="getAllSt">GET ALL STUDENTS</a>	<br><br>
		<a href="updateSt">UPDATE STUDENT</a>	<br><br>
		<a href="deleteSt">DELETE STUDENT</a>

	</body>
</html>