<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Update Student</title>
	</head>
	<body>
		<form action="/updateStudent" method="post">
			<input type="hidden" name="_method" value="put">
			<label>Enter Student Id</label>
			<input type="text" name="roll">	<br><br>
			<label>Enter Student Name</label>
			<input type="text" name="name">	<br><br>
			<label>Enter Student Branch</label>
			<input type="text" name="branch">	<br><br>
			<input type="submit" value="UPDATE STUDENT">
		</form>
	</body>
</html>